.banner {
  height: 60vh;
  position: relative;
  background: url("https://cdn.vox-cdn.com/thumbor/R2WcPyr6pJuxOPfn8YBz_yorjIU=/0x0:2000x1118/1200x800/filters:focal(840x399:1160x719)/cdn.vox-cdn.com/uploads/chorus_image/image/52264099/The_Terrace_Sicilian__1_.1497897195.jpg")
    center center;
}

.banner__info {
  background-color: black;
  color: white;
  padding-top: 25vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  width: 300px;
}

.banner__search {
  display: flex;
  flex-direction: column;
}

.banner__searchButton {
  background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #ff7779 !important;
}

.banner__info > button {
  background-color: #ff7779;
  color: white;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
}

.banner__info > h5 {
  margin-top: 10px;
}

.banner__info > button:hover {
  background-color: white;
  color: #ff7779;
}
